<html xmlns:th="http://www.thymeleaf.org">
<!-- Dialog start -->
<div id="dialog_wrapper" class="hide_me clr_b2 full_size" th:fragment="footer">
	<div class="dialog_window dialog_launchpad animate_300 hide_me">
		<div class="container">
			<div class="row">
				<!-- TODO: foach lounchpad - module name; ref; order number -->
					<div class="col_xxs_4 col_xs_4 col_s_3 col_m_2 col_l_2 sort">
						<a href="HREF!!!!" class="size_is toggle_dialog" data-dialog="launchpad">
							<strong>"MODULE NAME !!!!"</strong>
						</a>
					</div>
			</div>
		</div>
	</div>

	<div class="dialog_window dialog_error_message animate_300 hide_me">
		<div class="container">
			<div class="row">
				<div class="col_xxs_10 col_xs_8 col_s_6 col_m_6 col_l_4 push_l_4 push_m_3 push_s_3 push_xs_2 push_xxs_1">
					<div class="dialog_actions">
						<div class="inner">
							<div class="title" id="id_error_message_title">Сообщение об ошибке</div>
							<div class="text" id="id_error_message">
								Любое сообщение по вкусу
							</div>
							<ul class="actions clear_after">
								<li><a href="javascript:;" class="toggle_dialog dialog_close bttn bttn_50 bttn_simple" data-dialog="error_message">Закрыть</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="dialog_window dialog_runtime_error_message animate_300 hide_me">
		<div class="container">
			<div class="row">
				<div class="col_xxs_10 col_xs_8 col_s_8 col_m_8 col_l_8 push_l_2 push_m_2 push_s_2 push_xs_2 push_xxs_1">
					<div class="dialog_actions">
						<div class="inner">
							<div class="text">
							<div id="error_content" class="animate_300">
							</div>
							</div>
                                <ul class="actions clear_after">
                                    <li><a href="javascript:;" class="toggle_dialog dialog_close bttn bttn_50 bttn_simple" data-dialog="runtime_error_message">Принять</a></li>
                                    <li><a href="javascript:;" class="toggle_dialog dialog_close bttn bttn_50 bttn_simple" data-dialog="runtime_error_message">Закрыть</a></li>
                                </ul>
						</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="dialog_window dialog_test_simple animate_300 hide_me">
            <div class="container">
                <div class="row">
                    <div class="col_xxs_12 col_xs_12 col_s_8 col_m_6 col_l_6 push_l_3 push_m_3 push_s_2">
                        <div class="dialog_simple">

                            <a href="javascript:;" class="toggle_dialog dialog_close" data-dialog="test_simple">&times;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dialog_background full_size thm_grd"></div>
    </div>
    <!-- Dialog end -->
