<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="sidebar" class="animate_300" th:fragment="sidebar">
    <div class="inner clr_b2">
        <div class="user_menu">
            <!--/*@thymesVar id="uiChaneNodeModel" type="java.util.List<ru.aora.erp.model.identifier.chane.UiChaneNode>"*/-->
            <!--/*@thymesVar id="name" type="java.lang.String"*/-->
            <!--/*@thymesVar id="next" type="java.util.List<ru.aora.erp.model.identifier.chane.UiChaneNode>"*/-->
            <ul>
                <li th:each="uiNode : ${uiChaneNodeModel}">
                    <a href="#" th:text="${uiNode.name()}">
                        MODULE_TEXT
                    </a>
                    <ul th:fragment="fragment_node(uiNode)" th:unless="${#lists.isEmpty(uiNode.next())}">
                        <li th:each="uiChilNode : ${uiNode.next()}" th:inline="text">
                            <a th:href="${uiChilNode.mapping().orElse('#')}" th:text="${uiChilNode.name()}">
                                CHILD_MODULE_TEXT
                            </a>
                            <ul th:replace="this::fragment_node(${uiChilNode})"></ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--<div class="admin_menu">-->
        <!--<a href="users.php">Пользователи</a>-->
        <!--<a href="admin.php">Администрирование</a>-->
        <!--</div>-->
    </div>
</div>