<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="sidebar" class="animate_300" th:fragment="sidebar">
	<div class="inner clr_b2">
		<div class="user_menu">
			<ul>
				<li>
					<a href="#">Контрагенты</a>
					
					<ul>
						<li><a href="#">Все контрагенты</a></li>
						<li><a href="#">Избранные</a></li>
						<li><a href="#">Документы</a></li>
					</ul>
				</li>
				
				<li>
					<a href="#">Финанализ</a>
					
					<ul>
						<li><a href="#">Финансовые результаты</a></li>
						<li><a href="#">Денежный поток</a></li>
						<li><a href="#">Операционное планирование</a></li>
					</ul>
				</li>
				
				<li>
					<a href="#">Строительство</a>
					
					<ul>
						<li>
							<a href="#">Строительная документация</a>
							
							<ul>
								<li><a href="#">Планируемая смета</a></li>
								<li><a href="#">Фактическая смета</a></li>
								<li><a href="#">КС-2 и КС-3</a></li>
								<li><a href="#">Ведомость запасов</a></li>
							</ul>
						</li>
						
						<li><a href="#">Операционное планирование</a></li>
					</ul>
				</li>
			</ul>
		</div>
		
		<!--<div class="admin_menu">-->
			<!--<a href="users.php">Пользователи</a>-->
			<!--<a href="admin.php">Администрирование</a>-->
		<!--</div>-->
	</div>
</div>