/* Import */

@import url("reset.css");
@import url("responsive.css");
@import url("fonts.css");
@import url("animations.css");
@import url("elements.css");
@import url("fontawesome.css");
@import url("popover.css");
@import url("tooltipster.css");
@import url("niceselect.css");
@import url("sidemenu.css");
@import url("dialog.css");
@import url("pages.css");
@import url("module.css");

/* General */

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
}
body{
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    color: #ffffff;
    min-width:400px;
    overflow: hidden !important;
}

/* Preloader */

#preloader{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10000;
    text-align: center;
}
#preloader .spinner{
    display:inline-block;
    margin: 0 auto;
    width: 1em;
    height: 1em;
    position: relative;
    
    -moz-animation: preloader 1.1s infinite ease;
    -webkit-animation: preloader 1.1s infinite ease;
    animation: preloader 1.1s infinite ease;
    
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

/* Container */

#container{
    z-index: 10;
    position:relative;
    padding-top: 50px;
}
#container.fullscreen{
    padding-top: 0;
    height:100vh;
    overflow: auto !important;
}

/* Topbar */

#topbar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 15;
    height:50px;
}
#topbar .button{
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    text-align: center;
    font-size:20px;
}
#topbar .button:hover,
#topbar .button.active{
    background:rgba(0, 0, 0, 0.6);
}
#topbar .logo{
    display:block;
    width:190px;
    height:50px;
    line-height:50px;
    margin-left:10px;
}
#topbar .search{
    display:block;
    width:calc(100% - 400px);
    height:50px;
    padding:10px 20px;
    position: relative;
}
#topbar .search input{
    height:30px;
	padding:0 0 0 30px;
}
#topbar .search .sign{
	width:30px;
	height:30px;
	line-height:30px;
    font-size:14px;
}
#topbar .nav{
    display:block;
}
#topbar .nav li{
    display:block;
    float:left;
    position:relative;
}
#topbar .nav li .quick_options{
    position:absolute;
    width:254px;
    top:50px;
    right:0;
    background:rgba(0, 0, 0, 0.7);
    border:1px solid transparent;
    
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#topbar .nav li .quick_options .inner{
    padding:15px 15px 0;
    margin:-1px;
}
#topbar .nav li .inner hr{
    display:block;
    height:1px;
    margin:15px -15px;
    padding:0;
    border:0;
    background:rgba(255, 255, 255, 0.2);
}
#topbar .nav li .inner .inp_range{
    position:relative;
}
#topbar .nav li .inner .inp_range:before{
    content:'';
    position:absolute;
    top:-7px;
    left:34.5%;
    width:1px;
    height:34px;
    background:rgba(255, 255, 255, 0.2);
    z-index:5;
}
#topbar .nav li .quick_options .inner strong{
    display:block;
    margin-bottom:10px;
    font-size:12px;
}
#topbar .nav li .quick_options .inner strong .meta i{
    opacity:0;
}
#topbar .nav li .quick_options .inner strong .meta.active i{
    opacity:1;
}
#topbar .nav li .quick_options .inner .style{
    margin:0 -3px 15px;
}
#topbar .nav li .quick_options .inner .style a{
    display:block;
    width:40px;
    height:40px;
    line-height:40px;
    margin:0 3px;
    text-align: center;
    position:relative;
}
#topbar .nav li .quick_options .inner .style a.clr_1{
    background: #3d99be;
    background: -moz-linear-gradient(45deg, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    background: -webkit-linear-gradient(45deg, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    background: linear-gradient(45deg, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}
#topbar .nav li .quick_options .inner .style a.clr_2{
	background: #191654;
    background: -moz-linear-gradient(45deg, #43C6AC, #13547a);
    background: -webkit-linear-gradient(45deg, #43C6AC, #13547a);
    background: linear-gradient(45deg, #43C6AC, #13547a);
}
#topbar .nav li .quick_options .inner .style a.clr_3{
    background: #16222A;
    background: -moz-linear-gradient(45deg, #3A6073, #16222A);
    background: -webkit-linear-gradient(45deg, #3A6073, #16222A);
    background: linear-gradient(45deg, #3A6073, #16222A);
}
#topbar .nav li .quick_options .inner .style a.clr_4{
	background: #fdeca0;
}
#topbar .nav li .quick_options .inner .style a.clr_5{
	background: #efeff4;
}
#topbar .nav li .quick_options .inner .style.patterns a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:40px;
    height:40px;
    z-index:5;
    background-position: center center;
    background-size:120% 120%;
    
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#topbar .nav li .quick_options .inner .style.patterns a.pttrn_1:before{
	background-image:url('../graphics/patterns/1.png');
}
#topbar .nav li .quick_options .inner .style.patterns a.pttrn_2:before{
	background-image:url('../graphics/patterns/2.png');
}
#topbar .nav li .quick_options .inner .style.patterns a.pttrn_3:before{
	background-image:url('../graphics/patterns/3.png');
}
#topbar .nav li .quick_options .inner .style.patterns a.pttrn_4:before{
	background-image:url('../graphics/patterns/4.png');
}
#topbar .nav li .quick_options .inner .style.patterns a.pttrn_5:before{
	background-image:url('../graphics/patterns/5.png');
}
#topbar .nav li .quick_options .inner .style a i{
    opacity:0;
	position:relative;
    z-index:10;
}
#topbar .nav li .quick_options .inner .style a.active i{
    opacity:1;
}
#topbar .nav li .quick_options .actions{
    margin:-1px;
}
#topbar .nav li .quick_options .actions .bttn{
    display:block;
    width:50%;
    padding:0;
}
#topbar .nav li .quick_options.actions a.bttn:hover{
    background:rgba(255, 255, 255, 0.2);
}

/* Sidebar */

#sidebar{
    position:fixed;
    z-index: 10;
    top:0;
    bottom:0;
    left:0;
    width:250px;
    height: 100%;
    padding-bottom: 90px;
}
#sidebar .inner{
    margin-top: 50px;
    overflow-y: auto;
    position: relative;
    width: 250px;
    height: 100%;
}
#sidebar.collapsed{
    left:-250px;
}
#sidebar .admin_menu{
    display:table;
    width:100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#sidebar .admin_menu li{
    display:table-cell;
    vertical-align: middle;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
#sidebar .admin_menu li:last-child{
    border-right: 0;
}
#sidebar .admin_menu li a{
    display:block;
    height:40px;
    line-height:40px;
}
#sidebar .admin_menu li a:hover{
	background:rgba(0, 0, 0, 0.2);
}
#sidebar .admin_menu li a i{
	display:inline-block;
    width:30px;
}

/* Content */

#content{
    position: relative;
    z-index: 10;
    margin-left:250px;
    height:calc(100vh - 50px);
    overflow: auto !important;
}
#content.locked{
    overflow: hidden !important;
}
#content.expanded{
    margin-left:0;
}
#content .wrapper{
    position: relative;
    padding: 20px 10px;
}
#content .shadow{
    width:100%;
    height:20px;
    position:fixed;
    right:0;
    left:250px;
    z-index:10000;
    display:none;
}
#content.expanded .shadow{
    left:0;
}
#content .shadow.top{
    top:50px;
    
    background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
}
#content .shadow.bot{
    bottom:0;
    
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.6) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.6) 100%);
}

/* Background */

#background{
    position:fixed;
    z-index: 5;
}
#background .pattern{
    position:absolute;
    opacity:0.6;
    background-position: top left;
    background-repeat: repeat;
}