.thm_grd{
	background: #ffffff;
}

/* general.css */

body{
    font-weight: 400;
    color: #4d4d4d;
}
#preloader{
	background: #efeff4;
}
#topbar{
	background: #ffffff;
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
#topbar .button:hover,
#topbar .button.active{
	color:#187efb;
    background: transparent;
}
#topbar .nav li .quick_options{
    background:#ffffff;
    top:49px;
	border:1px solid rgba(0, 0, 0, 0.2);
	border-top:0;
     
     -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
     -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
     box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
#topbar .nav li .inner .inp_range:before{
    background:rgba(0, 0, 0, 0.2);
}
#topbar .nav li .quick_options .inner .patterns a{
    background-color: #ffffff !important;
}
#topbar .nav li .quick_options .inner .style.patterns a:before{
	filter: invert(1);
	opacity: 0.8;
}
#sidebar .inner{
	background: #ffffff;
	border-right:1px solid rgba(0, 0, 0, 0.2);
}
#sidebar .admin_menu{
	background: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#sidebar .admin_menu li{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#sidebar .admin_menu li:last-child{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#sidebar .admin_menu li a i{
	display:inline-block;
    width:30px;
}
#background .pattern{
    opacity:1;
}

/* elements.css */

label.fld.filler em{
	color: #a3a3a7;
}
label.fld.filler em.focus{
    color: #4d4d4d;
}
label.fld .sign{
	color: #a3a3a7;
}
label.fld input{
    color:#4d4d4d;
	background: #e3e2e7;
	border:1px solid transparent;
    font-weight: 400;
    
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
label.fld input::placeholder{
	color: #a3a3a7;
}
label.fld input:focus{
	border:1px solid rgba(0, 0, 0, 0.1);

	-moz-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
label.switcher input:before{
	width:28px;
	height:28px;
	top:6px;
	left:1px;
	
	-moz-box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
label.switcher input:checked:before{
	left:31px;
}
label.switcher input:after{
	background: #ffffff;
	border:1px solid #eae9ec;
}
label.switcher input:checked:after{
	background: #53d56a;
	border:1px solid #53d56a;
}
label.switcher .signs{
	color: #9be5a9;
}
label.radiocheck input:after{
	border:1px solid #eae9ec;
	background: #ffffff;
}
label.radiocheck input[type="checkbox"]:before{
	color:#ffffff;
	background: #187efb;
}
label.radiocheck input[type="radio"]:checked:before{
	background:#187efb;
}
label.radiocheck input[type="radio"]:checked:after{
	border:1px solid #187efb;
}
.bttn{
    color:#ffffff;
	text-shadow:none;
}
.bttn.bttn_submit{
	background: #157efb;
}
.bttn.bttn_simple{
	color: #157efb;
}
.bttn.bttn_simple:before {
    background: rgba(24, 126, 251, 0.2);
    background: -moz-linear-gradient(top, rgb(24, 126, 251, 0), rgba(24, 126, 251, 0.2) 50%, rgba(24, 126, 251, 0));
    background: -webkit-linear-gradient(top, rgb(24, 126, 251, 0), rgba(24, 126, 251, 0.2) 50%, rgba(24, 126, 251, 0));
	background: linear-gradient(to bottom, rgba(24, 126, 251, 0), rgba(24, 126, 251, 0.2) 50%, rgba(24, 126, 251, 0));
}
.inp_range::-webkit-slider-runnable-track{
	height: 1px;
	background: #157efb;
}
.inp_range::-moz-range-track {
	height: 1px;
	background: #157efb;
}
.inp_range::-webkit-slider-thumb{
	margin-top: -10px;
	
	-moz-box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.3);
}
.inp_range::-moz-range-thumb{
	margin-top: -10px;
	
	-moz-box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

/* popover.css */

/* sidemenu.css */

.slinky_sidemenu {
	border-top:0;
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
.slinky_sidemenu li li {
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
}
.slinky_sidemenu li a {
	color:#4d4d4d;
}
.slinky_sidemenu li a.back {
	color:#157efb;
}
.slinky_sidemenu li a.back:hover {
	color:rgba(0, 0, 0, 0.8);
}
.slinky_sidemenu li a:after{
	background:rgba(0, 0, 0, 0.2);
}
.slinky_sidemenu li a.back span.symbol{
	color:#157efb;
}
.slinky_sidemenu li a.back:hover span.symbol{
	color:rgba(0, 0, 0, 0.8);
}
.slinky_sidemenu li a span.arrow{
	color:rgba(0, 0, 0, 0.4);
}

/* dialog.css */

#dialog_wrapper .dialog_actions .inner{
	background:#ffffff;
	
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}

/* pages.css */



/* module.css */

#module .module_menu li{
	margin:0 0 10px 0;
}
#module .module_menu li .nice-select,
#module .module_menu li .button,
#module .module_menu li .name,
#module .module_menu li a{
	color:#157efb;
	background:#ffffff;
	border:1px solid #157efb;
	border-right:1px solid transparent;
}
#module .module_menu li:last-child .nice-select,
#module .module_menu li:last-child .button,
#module .module_menu li:last-child .name,
#module .module_menu li:last-child a{
	border-right:1px solid #157efb;
}
#module .module_menu li .nice-select:hover,
#module .module_menu li .button:hover,
#module .module_menu li a:hover{
	color:#ffffff;
	background:#157efb;
}



#module .module_content.module_users .user{
	background-color:#ffffff;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}
#module .module_content.module_users .user:first-child:before {
	background-color:rgba(0, 0, 0, 0.2);
}
#module .module_content.module_users .user:after{
	background-color:rgba(0, 0, 0, 0.2);
}
#module .module_content.module_users .user .details.name{
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#module .module_content.module_users .user .edit .edit_user{
	background: #ffffff;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#module .module_content.module_users .user .edit .edit_title{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#module .module_content.module_users .user .edit .inner_acc{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}