.thm_grd{
    background: #3d99be;
    background: -moz-linear-gradient(45deg, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    background: -webkit-linear-gradient(45deg, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    background: linear-gradient(45deg, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}
#topbar .nav li .quick_options .inner .patterns a{
    background: #4979a6 !important;
}

/* elements.css */

label.fld.filler em{
    color:rgba(255, 255, 255, 0.4);
}
label.fld.filler em.focus{
    color: #ffffff;
}
label.fld input{
    color:#ffffff;
	background: rgba(0, 0, 0, 0.4);
	
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}
label.fld input::placeholder{
    color:rgba(255, 255, 255, 0.4);
}
label.switcher input:checked:after,
label.radiocheck input[type="radio"]:before{
	background: #0bd6b0;
}
label.radiocheck input[type="checkbox"]:before{
	color: #0bd6b0;
}
.bttn.bttn_submit{
	background: #0bd6b0;
	background: -moz-linear-gradient(top, #0bd6b0 0%, #0bbfa7 100%);
	background: -webkit-linear-gradient(top, #0bd6b0 0%,#0bbfa7 100%);
	background: linear-gradient(to bottom, #0bd6b0 0%,#0bbfa7 100%);
}