.thm_grd{
    background: #16222A;
    background: -moz-linear-gradient(45deg, #3A6073, #16222A);
    background: -webkit-linear-gradient(45deg, #3A6073, #16222A);
    background: linear-gradient(45deg, #3A6073, #16222A);
}
#topbar .nav li .quick_options .inner .patterns a{
    background: #263d49 !important;
}

/* elements.css */

label.fld.filler em{
    color:rgba(255, 255, 255, 0.4);
}
label.fld.filler em.focus{
    color: #ffffff;
}
label.fld input{
    color:#ffffff;
	background: rgba(0, 0, 0, 0.4);
	
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}
label.fld input::placeholder{
    color:rgba(255, 255, 255, 0.4);
}
label.switcher input:checked:after,
label.radiocheck input[type="radio"]:before{
	background: #396afc;
}
label.radiocheck input[type="checkbox"]:before{
	color: #396afc;
}
.bttn.bttn_submit{
	background: #396afc; 
	background: -moz-linear-gradient(top, #2948ff 0%, #396afc 100%);
	background: -webkit-linear-gradient(to top, #2948ff, #396afc);
	background: linear-gradient(to top, #2948ff, #396afc);
}