<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body>
<div th:replace="fragment/header :: preloader"/>
<!-- Container start -->
<div id="container" class="animate_300">
    <!-- Container start -->
    <div th:replace="fragment/topbar :: topbar"/>
    <div id="content" class="animate_300">
        <div class="wrapper">
            content goes here <br/> content goes here <br/> content goes here <br/>
            content goes here <br/> content goes here <br/> content goes here <br/>
            content goes here <br/> content goes here <br/> content goes here <br/>
            content goes here <br/> content goes here <br/> content goes here <br/>
            content goes here <br/> content goes here <br/> content goes here <br/>
            content goes here <br/> content goes here <br/> content goes here <br/>
            content goes here <br/> content goes here <br/> content goes here <br/>
            <label class="switcher">
                <input type="checkbox" class="www"/>

                <div class="signs">
                    <i class="fas fa-lock-alt"></i>
                    <i class="fas fa-lock-open-alt"></i>
                </div>
                <strong>Запомнить</strong>
            </label>
            <label class="switcher">
                <input type="checkbox" class="www"/>

                <div class="signs">
                    <i class="fas fa-lock-alt"></i>
                    <i class="fas fa-lock-open-alt"></i>
                </div>
                <strong>Запомнить</strong>
            </label>
        </div>
        <div class="shadow top animate_150"></div>
        <div class="shadow bot animate_150"></div>
    </div>
    <div th:replace="fragment/sidebar :: sidebar"/>
    <!-- Background start -->
    <div id="background" class="thm_grd full_size">
        <div class="pattern full_size"></div>
    </div>
    <!-- Background end -->
    <!-- Container end -->
</div>
<!-- Container end -->

<div th:replace="fragment/footer :: footer"/>
<script>
    function changeContentDiv() {

        var params = {}; //put parameter if any
        $.ajax({
            headers: {
                Accept: "text/plain; charset=utf-8", "Content-Type": "text/plain; charset=utf-8"
            },
            url: "/controller",
            method: "GET",
            data: params,

            success: function (data, textStatus, response) {
                var text = response.responseText;
                if (text == "") {
                    return;
                }
                $("#content").text(text);
            },
            error: function (response) {
                alert(response);
                // terminate the script
            }
        });
    }
</script>
</body>
</html>