<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header"/>
<body th:onload="getFragmentAndChangeDiv('#content','/garantresult')">
<div th:replace="fragment/header :: preloader"/>
<!-- Container start -->
<div id="container" class="animate_300">
    <!-- Container start -->
    <div th:replace="fragment/topbar :: topbar"/>
    <div id="content" class="animate_300">
        <div class="shadow top animate_150"></div>
        <div class="shadow bot animate_150"></div>
    </div>
    <div th:replace="fragment/sidebar :: sidebar"/>
    <!-- Background start -->
    <div id="background" class="thm_grd full_size">
        <div class="pattern full_size"></div>
    </div>
    <!-- Background end -->
    <!-- Container end -->
</div>
<!-- Container end -->
<div th:replace="fragment/footer :: footer"/>
</body>
</html>