<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<div id="wrapper" class="wrapper">
    <div id="module">
        <div class="module_content module_guarantee">
            <div class="container">
                <div class="row">
                    <div class="col_xxs_12 col_xs_12 col_s_12 col_m_12 col_l_12">
                        <div class="item clr_b2">
                            <div class="title">
                                <strong th:text="'СООБЩЕНИЕ ОБ ОШИБКЕ'"></strong>
                            </div>
                            <div th:class="'details details_ edit'">
                                <div><span th:text="'Дата: '+${timestamp}"></span></div>
                                <div><span th:text="'Путь: '+${path}"></span></div>
                                <div><span th:text="'Ошибка: '+${error}"></span></div>
                                <div><span th:text="'Статус: '+${status}"></span></div>
                                <div><span th:text="'Сообщение: '+${message}"></span></div>
                                <div><span th:text="'След: '+${trace}"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow top animate_150"></div>
    <div class="shadow bot animate_150"></div>
</div>

